@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
  font-family:'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MapoGoldenPier', sans-serif;
}

.showcase 
{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color:black;
    color: #fff;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.logo
{
  font-family: 'Kaushan Script', sans-serif;
  font-size: 35px;
  border: none;
  background: transparent;
  color: inherit;
  text-decoration: none;
  
}

.logo:hover
{
  cursor: pointer;
}

.navbarSpacer
{
  font-family: 'Kaushan Script', sans-serif;
  font-size: 35px;
  opacity: 0;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 4%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text
{
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 20%;
  padding-left: 25%;
  padding-right: 25%;
}

.text p
{
  padding-top: 2%;
}

.exploreButton
{
  position: relative;
  z-index: 10;
  background-color: #818181; color: black;
  color: white; /*text color*/
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 1.3% 2%;
  border-radius: 12px;
  width: 15.8vh;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1.6%;
  transition: all 0.75s;
  display: inline-block;
  outline: none;
}

.exploreButton:hover
{
  color: rgb(253, 237, 250);
  opacity: 85%;
  cursor: pointer;
}

.exploreButton:hover span
{
  padding-right:15px;
}

.exploreButton span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.75s;
}

.exploreButton span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.75s;
}

.exploreButton:hover span:after
{
  opacity: 1;
  right: 0;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
}

.social {
  display: flex;
  justify-content: center;
  z-index: 10;
  filter: saturate(2);
  transform: scale(0.5);
  transition: 0.5s;
  width: 100%;
  left: 0px;
}

.social:hover
{
  transform: scale(0.7) translateY(-25px);
}

/* .social *:not(:first-of-type) {
  margin-left: 40px;
} for when more social logos need to be added*/

.socialtextdiv {
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  z-index: 10;
  filter: saturate(2);
}

.socialtext
{
  list-style-type: none;
  text-align: center;
}

.menubox
{
  list-style-type: none;
}

.navbarButton
{
  transition: 0.5s;
  padding-top: 4px;
  transform: scale(1);
}
.navbarButton:hover
{
  cursor: pointer;
  transform: scale(1.2);
}
.navbarButton:active
{
  transform: rotate(180deg);
  transition: 0.25s;
}


