@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@font-face {
  font-family:'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MapoGoldenPier', sans-serif;
}

.showcase {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color:black;
    color: #fff;
}


.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 80px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.git-section
{
  justify-content: center;
  display: flex;
}

header .spacer
{
  width: 100px;
}

.text
{
  position: relative;
  z-index: 10;
}

.exploreButton
{
  position: relative;
  z-index: 10;
  background-color: #c0c0c0; color: black;
  color: white; /*text color*/
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 12px 26px;
  border-radius: 12px;
  width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 15px;
  transition: all 0.75s;
  display: inline-block;
}

/* .exploreButton:hover
{
  color: white;
  opacity: 80%;
  cursor: pointer;
} */

.exploreButton:hover span
{
  padding-right:15px;
}

.exploreButton span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.75s;
}

.exploreButton span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.75s;
}

.exploreButton:hover span:after
{
  opacity: 1;
  right: 0;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
}

.social {
  display: flex;
  justify-content: center;
  z-index: 10;
  filter: saturate(2);
  transform: scale(0.5);
  transition: 0.5s;
  position: absolute;
  bottom: 125px;
  width: 100%;
  left: 0px;
}

.social:hover
{
  transform: scale(0.5) translateY(-25px);
}

/* .social *:not(:first-of-type) {
  margin-left: 40px;
} for when more social logos need to be added*/

.socialtextdiv {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  bottom: 90px;
  width: 100%;
  left: 0px;
}

.socialtext
{
  list-style-type: none;
  text-align: center;
}

.menubox
{
  list-style-type: none;
}

.navbarButton:hover
{
  cursor: pointer;
}

