@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', sans-serif;
}

.showcase {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color:black;
    color: #fff;
}


.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 80px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.git-section
{
  justify-content: center;
  display: flex;
}

header .spacer
{
  width: 100px;
}

.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
}

.social {
  display: flex;
  justify-content: center;
  z-index: 10;
  filter: saturate(2);
  transform: scale(0.5);
  transition: 0.5s;
  position: absolute;
  bottom: 150px;
  width: 100%;
  left: 0px;
}

.social:hover
{
  transform: scale(0.5) translateY(-25px);
}

/* .social *:not(:first-of-type) {
  margin-left: 40px;
} for when more social logos need to be added*/

.socialtextdiv {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  bottom: 115px;
  width: 100%;
  left: 0px;
}

.socialtext
{
  list-style-type: none;
  text-align: center;

}

.toggle
{
    position: relative;
    height: 60px;
    width: 0px;
    cursor: pointer;
}
